build/
main/libs/
main/ovpnlibs/
main/openvpn3
main/obj/
main/.cxx/
main/.externalNativeBuild
main/ui
main/src/main/jniLibs
main/src/main/assets/ca_path
main/src/main/assets/vpn_profiles
main/src/main/cpp/mbedtls/
main/src/main/cpp/lzo/
main/src/main/cpp/lz4/
main/src/main/cpp/openssl/
main/src/ovpn3/java/net/openvpn/ovpn3

google-breakpad/
ovpn3/boost
polarssl

.DS_Store
.navigation
.gradle

*.hprof

proguard-project.txt
build.xml
local.properties
cache.properties

# User-specific configurations
.idea
*.iml
