<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.blinkt.xp.openvpn">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application android:banner="@mipmap/banner_tv">
        <activity
            android:name="de.blinkt.openvpn.activities.MainActivity"
            android:exported="true"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.VPNPreferences"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="de.blinkt.openvpn.activities.ConfigConverter"
            android:excludeFromRecents="true"
            android:label="Convert Config File"
            android:taskAffinity="de.blinkt.openvpn.ConfigConverter"
            android:uiOptions="splitActionBarWhenNarrow"
            android:exported="true"
            tools:ignore="ExportedActivity">
            <intent-filter
                android:label="@string/import_config"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-openvpn-profile" />
            </intent-filter>
            <intent-filter
                android:label="@string/import_config"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/ovpn" />
            </intent-filter>
            <intent-filter android:label="@string/import_config">
                <!-- http://stackoverflow.com/questions/7f030832/associating-certain-file-extension-to-my-android-application/7102838#7102838 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*..*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*.ovpn" />
                <data android:pathPattern=".*..*.ovpn" />
                <data android:pathPattern=".*.ovpn" />
            </intent-filter>
        </activity> <!-- https://commonsware.com/blog/2019/03/27/death-external-storage-stay-away-files.html -->
        <activity-alias
            android:name="de.blinkt.openvpn.activities.ConfigConverterFile"
            android:exported="true"
            android:enabled="@bool/supportFileScheme"
            android:targetActivity="de.blinkt.openvpn.activities.ConfigConverter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*..*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*.ovpn" />
                <data android:pathPattern=".*..*.ovpn" />
                <data android:pathPattern=".*.ovpn" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name="de.blinkt.openvpn.activities.CreateShortcuts"
            android:excludeFromRecents="true"
            android:label="@string/vpn_shortcut"
            android:exported="true"
            android:taskAffinity="de.blinkt.openvpn.CreateShortcuts"
            android:theme="@android:style/Theme.DeviceDefault.Light.DialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="de.blinkt.openvpn.activities.CredentialsPopup" />
        <activity
            android:name="de.blinkt.openvpn.activities.GeneralActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="de.blinkt.openvpn.activities.DiagnosticActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:label="@string/diagnostic_info"
            android:theme="@style/blinkt.dialog">
        </activity>

        <service
            android:name="de.blinkt.openvpn.OpenVPNTileService"
            android:icon="@drawable/ic_quick"
            android:label="@string/qs_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:value="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.VpnProfileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_paths" />
        </provider>
        <provider
            android:name="de.blinkt.openvpn.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />

    </application>

</manifest>
